In [1]:
import numpy as np

docs = ['common', 'let\'s go', 'keep it up', 'sorry', 'sorry try again', 'common let\'s go', 'do it again']

In [5]:
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(oov_token='nothing')

In [6]:
tokenizer.fit_on_texts(docs)

In [7]:
tokenizer.word_index

{'nothing': 1,
 'common': 2,
 "let's": 3,
 'go': 4,
 'it': 5,
 'sorry': 6,
 'again': 7,
 'keep': 8,
 'up': 9,
 'try': 10,
 'do': 11}

In [8]:
tokenizer.word_counts

OrderedDict([('common', 2),
             ("let's", 2),
             ('go', 2),
             ('keep', 1),
             ('it', 2),
             ('up', 1),
             ('sorry', 2),
             ('try', 1),
             ('again', 2),
             ('do', 1)])

In [10]:
# get number of rows
tokenizer.document_count

7

In [13]:
sequences = tokenizer.texts_to_sequences(docs)
sequences

[[2], [3, 4], [8, 5, 9], [6], [6, 10, 7], [2, 3, 4], [11, 5, 7]]

In [14]:
from keras.utils import pad_sequences

In [15]:
sequences = pad_sequences(sequences, padding='post')

In [16]:
sequences

array([[ 2,  0,  0],
       [ 3,  4,  0],
       [ 8,  5,  9],
       [ 6,  0,  0],
       [ 6, 10,  7],
       [ 2,  3,  4],
       [11,  5,  7]], dtype=int32)

In [18]:
from keras.datasets import imdb
from keras import Sequential
from keras.layers import Dense, SimpleRNN, Embedding, Flatten

In [21]:
# already preprocessed so we can directly start working on it
(X_train, y_train), (X_test, y_test) = imdb.load_data()

In [23]:
X_train.shape

(25000,)

In [24]:
X_test.shape

(25000,)

In [26]:
# data is already integer encoded
X_train[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 22665,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 21631,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 19193,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 10311,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 31050,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 12118,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [28]:
print(len(X_train[0]))
print(len(X_train[1]))

218
189

In [29]:
# above we can see length of dataset in row 0 and row 1 are different
# so we can applying padding

# we trim our dataset and work only on 50 reviews
X_train = pad_sequences(X_train, padding='post', maxlen=50)
X_test = pad_sequences(X_test, padding='post', maxlen=50)

In [31]:
print(X_train.shape)
print(X_test.shape)

(25000, 50)
(25000, 50)

In [32]:
model = Sequential()

model.add(SimpleRNN(32, input_shape=(50,1), return_sequences=False))
model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn (SimpleRNN)      (None, 32)                1088

 dense (Dense)               (None, 1)                 33

=================================================================
Total params: 1121 (4.38 KB)
Trainable params: 1121 (4.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=5, validation_data=(X_test, y_test))

Epoch 1/5
782/782 [==============================] - 14s 16ms/step - loss: 0.6937 - accuracy: 0.5021 - val_loss: 0.6956 - val_accuracy: 0.5032
Epoch 2/5
782/782 [==============================] - 14s 18ms/step - loss: 0.6928 - accuracy: 0.5088 - val_loss: 0.6949 - val_accuracy: 0.5041
Epoch 3/5
782/782 [==============================] - 13s 16ms/step - loss: 0.6926 - accuracy: 0.5092 - val_loss: 0.6973 - val_accuracy: 0.5039
Epoch 4/5
782/782 [==============================] - 13s 16ms/step - loss: 0.6928 - accuracy: 0.5091 - val_loss: 0.6949 - val_accuracy: 0.5027
Epoch 5/5
782/782 [==============================] - 12s 16ms/step - loss: 0.6926 - accuracy: 0.5040 - val_loss: 0.6935 - val_accuracy: 0.5057